/* Theme transition Effect */
*:after,
*:before,
a,
p,
h1,h2,h3,h4,h5,h6,
button,
.adds-book,
.footer-links li,
.plus-icon,
.product-cart-option,
.product-cart-option li,
.s-product-hover,
.service-icon,
.overlay,
.view-page-overlay,
.view-page,
.navigation ul li ul,
.heart-batch,
.service-column.style-2,
.team-column .overlay-padding,
.address-column .address-icon,
.release-thumb .swiper-slide,
.recomend-arrows,
.timeline-slider-arrows li,
.timeline-thumbs ul li,
.search-modal .input-append,
.release-thumb .item.slick-current.slick-active.slick-center::before,
.release-thumb .item 
{-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;}







